/* 
    Document   : Mobile Stylesheet
    Created on : Oct 2, 2013, 7:34:20 PM
    Author     : Brandon
    Description:
        Purpose of the stylesheet follows.
*/

html{
    
}

body{
    width:80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size:45px;
}
#header{
    display:none;
}
#headerbar > *{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding:10px;
    border-radius: .25em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#mainbody > p{
    display:none;
}
#mainbody > form{
    display:inline;
    text-align: center;
}
#cell, #mobilenumber{
    font-size:40px;
}
#inputbox{
    font-size:45px;
}
#footerbar{
    display:none;
}

#placesMap{
    margin-top: 20px;
    width:100%;
    clear:both;
    height:800px;
}
